{% extends 'EBPretControleurBundle::layout.html.twig' %}

{% block EBPretcontroleur_body %}
                <div class="panel panel-blue margin-bottom-40">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-tasks"></i> Liste de vos controleurs</h3>
                    </div>
                    <div class="panel-body">
                        <p>Légende : </p>
                        <div class="table-responsive">   
                        <table>
                          <tr>
                            <td><button class="btn btn-warning btn-xs">
                                <i class="fa fa-pencil"></i> 
                                  <font color="white">Editer</font>
                                  </button></td>
                            <td>
                                Modifier le profil de votre controleur.
                            </td>
                          </tr>
                        </table>
                        </div>
                    </div>       
                    <div class="table-responsive">                                  
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Centre</th>
                                <th>Nom</th>
                                <th>Statut</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for controleur in listeControleurs %}
                            <tr>
                            <td>{{ controleur.centre.nom }}</td>
                            <td>{{ controleur.nom }} {{ controleur.prenom }}</td>
                            <td>
                                {% if controleur.reponse == false %}
                                        <span class="label label-info">En cours de validation</span>
                                {% else %}
                                    {% if controleur.statut == false %}
                                        <span class="label label-danger">Refuser</span>
                                    {% else %}
                                        <span class="label label-success">Validé</span>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td>
                              <a href="{{ path('eb_pret_controleur_EditControleur', {'id': controleur.id}) }}">
                                <button class="btn btn-warning btn-xs"><i class="fa fa-pencil"></i> Editer</button>
                              </a>
                            </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
{% endblock %}