{% extends 'EBPretControleurBundle::layoutAdmin.html.twig' %}

{% block EBPretcontroleur_body %}
                <div class="panel panel-blue margin-bottom-40">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-tasks"></i> Liste de tous les abonnements</h3>
                    </div>
                    <div class="panel-body">
                        <p>Liste de tous les abonnements payés et validés.</p>
                    </div>                                      
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nom du centre</th>
                                <th>Responsable</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for abonnement in listeAbonnements %}
                            <tr>
                            <td>{{ abonnement.centre.nom }}</td>
                            <td>{{ abonnement.centre.user.nom }}</td>
                            <td>
                                <a href="{{ path('eb_pret_controleur_SupprimerAbonnement', {'idAbonnement': abonnement.id}) }}">
                                    <button class="btn btn-danger btn-xs"><i class="fa fa-pencil"></i> Supprimer</button>
                                </a>
                            </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
{% endblock %}